# Debian Bookworm should bring Python 3.11 at least
#
# Sphinx has some errors with early releases of up to 8.1.3
# Sphinx 8.0 drops support for Python 3.9
# Sphinx 8.2 drops support for Python 3.10
# Sphinx 8.0's py:module :noindex: support was broken, restored in 8.1 - avoid 8.0 specifically
# Sphinx 9.0.x needs Python >=3.11, Sphinx 9.1+ needs Python >=3.12
# Sphinx 9's autodoc was substantially rewritten (own changelog: "incompatible changes in edge cases")
sphinx>=9,<10
# Sphinx-RTD-Theme 3.x needs Python >=3.9,<3.13 or above and is compatible with Sphinx 7.x and 8.x
# Sphinx-RTD-Theme 2.x needs Python >=3.6,< or above and is compatible with Sphinx 6.x and 7.x
# Sphinx-RTD-Theme 1.x needs Python 3.6 or above and is compatible with Sphinx 5.x only
sphinx-rtd-theme>=1.0

# create tabs for content for alternative ways to use like | Linux | MacOS | Windows |
# https://sphinx-tabs.readthedocs.io/en/latest/
#sphinx-tabs>=3.4.7 was dropped in favour of
sphinx-design

# the following extensions create collapsible parts of documentation
# sphinx-panels seem to be most extensive but is not maintained anymore. 
# it evolved into https://sphinx-design.readthedocs.io/
#sphinx-togglebutton
#sphinx-toolbox
#sphinx-panels  https://sphinx-panels.readthedocs.io/en/latest/


# sphinx-autodoc-typehints 3.x needs Python >=3.10,<=3.13 and sphinx>=8.1.3
# sphinx-autodoc-typehints 3.6.0+ raises the sphinx floor to >=9.0.4
# sphinx-autodoc-typehints 3.9.0+ raises the sphinx floor to >=9.1
# sphinx-autodoc-typehints 1.13.0 needs Python >3.6,<=3.10
# sphinx-autodoc-typehints 1.19.0 needs Python >3.6,<=3.11
# sphinx-autodoc-typehints 2.x needs Python >=3.10,<=3.13

sphinx-autodoc-typehints>=3.6.0

sphinx-treeview

# recommonmark is marked deprecated as of April 30th, 2021
#recommonmark>=0.6.0
# the replacement to support Markdown like Readme.md is MyST
# see at https://www.sphinx-doc.org/en/master/usage/markdown.html and
# at https://myst-parser.readthedocs.io/en/latest/using/intro.html for a primer on MyST

#myst-parser<=0.16.1
#myst-parser 5.x needs             Sphinx >=8,<10
#myst-parser 4.x needs Python >3.10,      Sphinx >=7,<9 and Docutils >=0.19,<0.22
#myst-parser 3.x needs Python >3.8,<3.12, Sphinx >=7,<9 and Docutils >=0.18,<0.22
#myst-parser 2.x needs Python >3.8,<3.11, Sphinx >=7,<9 and Docutils >=0.16,<0.21
myst-parser

# needs some updated tools:
sphinxcontrib-applehelp>1.0.3
sphinxcontrib-htmlhelp>2.0.1

attrs

ruamel.yaml>=0.13.7,<=0.15.74;python_version<'3.7'
ruamel.yaml>=0.15.0,<=0.15.74;python_version=='3.7'
ruamel.yaml>=0.15.78,<=0.16.8;python_version>='3.8'

# to create pdf files it would be needed to install also
# rst2pdf
# svglib
# but there is no fully working lib to convert svg to pdf currently so we can
# not create pdf files at the moment

# imghdr was removed from standard function as of Python 3.13
standard-imghdr;python_version>='3.13'
