# lib.orb:
ephem>=4.2,<5.0.0

# lib.shtime:
python-dateutil>=2.9.0 # this contains at least tzdata from 2024 only for python_version<'3.13'
holidays>=0.59

# lib.daemon:
psutil>=6.1.1,<8.0.0
portalocker>=3.2.0,<4.0.0

# lib.network, lib.shpypi:
#most recent version is 2.31.0 as of May 22nd, 2023 all prior versions have an unintended leak of Proxy-Authorization header
requests>=2.31.0

# lib.utils
netifaces

# lib.shpypi
xmltodict

# the following needs to be exactly the same as in requirements/base.txt
# otherwise inconsistent requirements will occur in Travis/Tox/Testing
# lib.shyaml:
ruamel.yaml>=0.13.7,<=0.15.74;python_version<'3.7'
ruamel.yaml>=0.15.0,<=0.15.74;python_version=='3.7'
ruamel.yaml>=0.15.78,<=0.16.8;python_version>='3.8'
