{% extends "base.html" %}

{% block title %}
{{ p.get_fullname() }} Plugin
{% endblock title %}

<!--
	add additional attributes for body tag if body_attribs is set in the plugin index.html
-->
{% block body_attribs -%}
	{% if body_attribs is defined %} {{ body_attribs }}"
	{% endif %}
{%- endblock body_attribs %}

{% block scripts -%}
{{ super() }}
<script src="/gstatic/js/smarthomeng_pageupdate.js"></script>
<script>
	$(document).on("change", ".dataTables_length select", function(){
	          var selectedVal = $(this).val();
						var tab = $(this).closest('.tab-pane').attr('id');
	          window.pageLength[tab]['pagelength'] = parseInt(selectedVal);
						setCookie("pagelength", window.pageLength, 3650, window.pluginname);
						if (selectedVal == 1)
						{
							window.toggle = window.toggle * -1 + 0.1;
							$(window).resize();
							this.options[this.selectedIndex].disabled = true;
							console.log("Triggering resize window because pagelength in tab " + tab + " is set to " + selectedVal);
						}
						else {
							this.options[0].disabled = false;
						}
	    });
</script>
<script>
	$(document).ready(function(){
		const select_menu = document.querySelector(".dataTables_length select");
		if (select_menu.selectedIndex == -1)
		{
			select_menu.selectedIndex = 0;
			select_menu.options[select_menu.selectedIndex].disabled = true;
		}
	});
	</script>
<script>
	function initVariables() {
		// Make refresh variable, dataSet and update_params available for plugins html files.
		window.refresh = new timer();
		window.dataSet = null;
		window.activeTab = 1;
		window.update_params = null;
		window.update_interval = 0;
		window.update_active = false;
		window.update_blocked = false;
		window.toggle = 1;
		window.pluginname = '{{ p.get_fullname() }}';
		window.pageLength = getCookie("pagelength");
	  if (window.pageLength == "")
	  {
			window.pageLength = {}
			let tabcount = 0;
			{%- if tabcount is defined %}
				if (isNaN(parseFloat({{ tabcount }})))
					tabcount = 1;
				else
					tabcount = {{ tabcount }};
			{%- endif %}
			for (let i = 1; i <= tabcount; i++) {
				let pagelength = 0;
				if (isNaN(parseFloat({{ webif_pagelength }})) || {{ webif_pagelength }} == 0)
		      pagelength = 1;
		    else
		    	pagelength = {{ webif_pagelength }};
			  window.pageLength["bodytab_"+i] = {'tableid': 'unknown', 'pagelength': parseInt(pagelength)};
				console.log(window.pageLength);
			}
			setCookie("pagelength", window.pageLength, 3650, window.pluginname);
		}
		window.initial_update = false;
		{%- if row_count is defined %}
		  window.row_count = '{{ row_count|lower }}';
		{%- endif %}
		{%- if initial_update is defined %}
		  window.initial_update = '{{ initial_update|lower }}';
		{%- endif %}

		{%- if dataSet is defined %}
		  window.dataSet = '{{ dataSet }}';
		{%- endif %}
		{%- if update_params is defined %}
		  window.update_params = '{{ update_params }}';
		{%- endif %}
		{%- if update_interval is defined %}
		  window.update_interval = {{ update_interval|int }};
		  {%- if update_interval > 0 %}
				{%- if update_active is defined %}
					window.update_active = {{ update_active|lower }};
				{%- else %}
					{% set update_active = true %}
				{%- endif %}
			{%- else %}
				{% set update_active = false %}
		  {%- endif %}
		{%- else %}
		  window.update_interval = 0;
		  {% set update_active = false %}
		{%- endif %}
		window.update_active = {{ update_active|lower }};
		{%- if update_blocked is defined %}
			window.update_blocked = {{ update_blocked|lower }};
		{%- endif %}

		// Start page refresh method
		{%- if update_interval is defined and update_interval > 0 and update_active %}
		  // update_interval defines the time between refreshes in ms
		  refresh.start(function(){
		      shngGetUpdatedData();
		  }, window.update_interval, false, true);
		  console.log("Starting autorefresh with dataset " + window.dataSet + " and params " + window.update_params + " on start using interval " + window.update_interval + " refresh: " + window.update_active);
		{%- else %}
		  // update_interval is set to 0 so no update will happen. Refresh still has to be started to work.
		  refresh.start(function(){
		      shngGetUpdatedData();
		  }, 0, false, true);
		  console.log("Initializing autorefresh (not active) with dataset " + window.dataSet + " and params " + window.update_params + " using interval " + window.update_interval);
		{%- endif %}
	}
  initVariables();
</script>

{%- endblock scripts %}

{% block content -%}

{% if scroll_heading is not defined %}
<div id="webif-navbar" style="position: fixed; top: 0; width: 100%; background: RGB(255, 255, 255); z-index: 10; display: none;">
{% endif %}

<div class="container-fluid m-3" id="webif-top">
	<div class="row" id="webif-toprow">

		<div class="{% if logo_frame %}card {% endif %} col-sm-2" style="height:150px;" id="webif-pluginlogo">
		    {% if isfile("static/img/plugin_logo.png") %}
				<img src="static/img/plugin_logo.png" alt="plugin_logo" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
		    {% elif isfile("static/img/plugin_logo.jpg") %}
				<img src="static/img/plugin_logo.jpg" alt="plugin_logo" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
		    {% elif isfile("static/img/plugin_logo.svg") %}
				<img src="static/img/plugin_logo.svg" alt="plugin_logo" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
		    {% else %}
			    {% set plgtype_logo = "/gstatic/img/plugin_"+p._plgtype+".svg" %}
				{% if isfile(plgtype_logo) %}
					<img src="{{ plgtype_logo }}" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
				{% else %}
					<img src="/gstatic/img/plugin_unknown.svg" alt="plugin_logo_unknown" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
				{% endif %}
			{% endif %}
		</div>
		<div class="col-sm-3" id="webif-plugininfo">
			<h3 id="webif_shng_logo"><img src="/gstatic/img/logo_long.png" alt="shng_logo_long" height="40" valign="top" align="left" style="align: left; display: block;"></h3>
			<div class="m-3">
			<br>
			</div>
			<h5>{{ _('Plugin') }} : <span id="webif_plugin_name"><strong>{{ p.get_shortname() }}</strong></span> v<span id="webif_plugin_version">{{ p.get_version() }}</span></h5>
			{% if p.get_instance_name() != '' %}
				<h5>{{ _('Instanz') }}: <span id="webif_plugin_instance">{{ p.get_instance_name() }}</span></h5>
			{% else %}
				<br>
			{% endif %}
			<h6>{{ _('Plugin') }} &nbsp; &nbsp; : <span id="webif_plugin_state">{% if p.alive %}{{ _('Aktiv') }}{% else %}{{ _('Gestoppt') }}{% endif %}</span></h6>
		</div>

		<div id="webif-headtable" class="col-sm-7">

			{% block headtable %}
			{% endblock %}
			{%- if buttons is not defined or buttons == true %}
				<div id="webif-allbuttons" style="margin-left: 10px; margin-right: 10px; float:right; white-space: nowrap;">
					{%- if update_interval is defined and (autorefresh_buttons is not defined or autorefresh_buttons == true) %}
						<span id="webif-autorefresh" style="white-space: nowrap;">
							{{ _('Autom. Aktualisierung') }}
							<input title="{{ _('(De)Aktiviere automatische Seitenaktualisierung') }}" type="checkbox" id="update_active" name="update_active" value="active" oninput="set_update_interval()">
							&nbsp;&nbsp;
							<input title="{{ _('Aktualisierungsintervall in Sekunden') }}" style="width:60px; text-align:right;" type="number" id="update_interval" name="update_interval" min="0" oninput="set_update_interval()">
						</span>
						<span id="webif-seconds"> {{ _('Sek.') }}</span>
						<span id="webif-seconds_orig" style="display:none"> {{ _('Sek.') }}</span>
						&nbsp;
					{%- endif %}

					<span id="webif-refreshbuttons" style="white-space: nowrap;">
						{%- if reload_button is not defined or reload_button == true %}
							<button id="reload" class="btn btn-shng btn-sm" onclick="window.location.reload();"><i class="fas fa-redo"></i><span id="webif-reload"> &nbsp;&nbsp;&nbsp;{{ _('Aktualisieren') }}</span></button>
							<span id="webif-reload_orig" style="display:none"> {{ _('Aktualisieren') }}</span>
						{%- endif %}
						{%- if close_button is not defined or close_button == true %}
							<button id="close" class="btn btn-shng btn-sm" title="{{ _('Schließen') }}" onclick="window.close();" ><i class="fas fa-times"></i><span id="webif-close">&nbsp;&nbsp;&nbsp;{{ _('Schließen') }}&nbsp;</span></button>
							<span id="webif-close_orig" style="display:none"> {{ _('Schließen') }}</span>
						{%- endif %}
					</span>
				</div>
				<div style="float:right; white-space: nowrap;" id="webif-custombuttons">
					{% block buttons %}
					{% endblock buttons %}
				</div>
			{%- endif %}

		</div>
	</div>
</div>

{% if scroll_heading is not defined %}
</div>

<div style="margin: 180px auto 0; z-index: 9;" id="webif-lowercontent">
{% endif %}

{% if tabcount is not defined %}
	{% set tabcount = 4 %}
{% endif %}

{% if start_tab is not defined %}
	{% set start_tab = 1 %}
{% endif %}
{% if start_tab > tabcount %}
	{% set start_tab = tabcount %}
{% endif %}
<script>
window.activeTab = "bodytab_" + {{ start_tab }};
</script>
{% if tabcount > 6 %}
	{% set tabcount = 6 %}
{% endif %}
{% if tabcount < 1 %}
	{% set tabcount = 1 %}
{% endif %}


{% if tab1title is not defined %}
	{% set tab1title = "<strong>" ~ p.get_shortname() ~ "</strong> tab1" %}
{% endif %}
{% if tab2title is not defined %}
	{% set tab2title = "<strong>" ~ p.get_shortname() ~ "</strong> tab2" %}
{% endif %}
{% if tab3title is not defined %}
	{% set tab3title = "<strong>" ~ p.get_shortname() ~ "</strong> tab3" %}
{% endif %}
{% if tab4title is not defined %}
	{% set tab4title = "<strong>" ~ p.get_shortname() ~ "</strong> tab4" %}
{% endif %}
{% if tab5title is not defined %}
	{% set tab5title = "<strong>" ~ p.get_shortname() ~ "</strong> tab5" %}
{% endif %}
{% if tab6title is not defined %}
	{% set tab6title = "<strong>" ~ p.get_shortname() ~ "</strong> tab6" %}
{% endif %}


<div id="webif-tabs" class="container-fluid" style="position: fixed; background-color: white; top:180px; z-index: 8;">
	<ul class="nav nav-tabs">
		{% if tabcount == 1 and tab1title != "hidden" %}
			<li id="tab_1" class="nav-item"><a class="text-dark nav-link active" href="#bodytab_1">{{ tab1title }}</a></li>
		{% endif %}
		{% if tabcount > 1 %}
			{% if tab1title != "hidden" %}
				<li id="tab_1" class="nav-item"><a class="text-dark nav-link {% if start_tab==1 %}active{% endif %}" data-toggle="tab" href="#bodytab_1">{{ tab1title }}</a></li>
			{% endif %}
			{% if tab2title != "hidden" %}
				<li id="tab_2" class="nav-item"><a class="text-dark nav-link {% if start_tab==2 %}active{% endif %}" data-toggle="tab" href="#bodytab_2">{{ tab2title }}</a></li>
			{% endif %}
		{% endif %}
		{% if tabcount > 2 and tab3title != "hidden" %}
			<li id="tab_3" class="nav-item"><a class="text-dark nav-link {% if start_tab==3 %}active{% endif %}" data-toggle="tab" href="#bodytab_3">{{ tab3title }}</a></li>
		{% endif %}
		{% if tabcount > 3 and tab4title != "hidden" %}
			<li id="tab_4" class="nav-item"><a class="text-dark nav-link {% if start_tab==4 %}active{% endif %}" data-toggle="tab" href="#bodytab_4">{{ tab4title }}</a></li>
		{% endif %}
		{% if tabcount > 4 and tab5title != "hidden" %}
			<li id="tab_5" class="nav-item"><a class="text-dark nav-link {% if start_tab==5 %}active{% endif %}" data-toggle="tab" href="#bodytab_5">{{ tab5title }}</a></li>
		{% endif %}
		{% if tabcount > 5 and tab6title != "hidden" %}
			<li id="tab_6" class="nav-item"><a class="text-dark nav-link {% if start_tab==6 %}active{% endif %}" data-toggle="tab" href="#bodytab_6">{{ tab6title }}</a></li>
		{% endif %}
	</ul>
</div>

<div style="margin-left: 10px; margin-right: 10px;" class="tab-content" id="resize_wrapper">
	<div id="bodytab_1" class="table-resize tab-pane {% if start_tab==1 %}in active{% endif %}" role="tabpanel">
		{% block bodytab1 %}
		{% endblock bodytab1 %}
	</div>

	<div id="bodytab_2" class="table-resize tab-pane {% if start_tab==2 %}in active{% endif %}" role="tabpanel">
		{% block bodytab2 %}
		{% endblock bodytab2 %}
	</div>

	<div id="bodytab_3" class="table-resize tab-pane {% if start_tab==3 %}in active{% endif %}" role="tabpanel">
		{% block bodytab3 %}
		{% endblock bodytab3 %}
	</div>

	<div id="bodytab_4" class="table-resize tab-pane {% if start_tab==4 %}in active{% endif %}" role="tabpanel">
		{% block bodytab4 %}
		{% endblock bodytab4 %}
	</div>

	<div id="bodytab_5" class="table-resize tab-pane {% if start_tab==5 %}in active{% endif %}" role="tabpanel">
		{% block bodytab5 %}
		{% endblock bodytab5 %}
	</div>

	<div id="bodytab_6" class="table-resize tab-pane {% if start_tab==6 %}in active{% endif %}" role="tabpanel">
		{% block bodytab6 %}
		{% endblock bodytab6 %}
	</div>
</div>


{%- endblock content %}

{% if scroll_heading is not defined %}
</div>
{% endif %}
